/* ---- reset ---- */

body {
  margin: 0;
}

h1 {
  /*background-color: gold;*/
  color:white;
  text-align: center;
  padding: 3px;
  font-size: 28px;
}

h2 {
  color:white;
 /* background-color:black; */
  width:38%; 
  text-align: center;
  margin: auto;
  padding: 3px;
}

form {
  color:white;
  font-size:20px;
  display:flex;
  padding-top: 15px;
  padding-bottom: 15px;
  flex-direction: column;
  align-items: center;
  background-color: inherit;
}

.intro {
  font-weight: bold;
  font-size: 26px;
  color:white;
  text-align: center;
  max-width: 640px;
  max-height: 420px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-top: 130px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  background: fixed;
  max-width: 640px;
  background-color: #754d12;
  align-items: center;
}

section {
  font-family: Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: fixed;
  max-width: 700px;
  background-color: #754d12;
  align-items: center;
  min-width: 320px;
  opacity: .88;
}

.show-jobs {
  display: flex;
  font-style: normal;
  background-color: #754d12
  align-items: center;
  text-align: center;
}

button {
  width: 110px; 
  height: 60px;
  background-color:black;
  color:yellow;
  font-size: 18px;
  box-shadow: 3px 3px white;
}

button:hover {
  color:green;
  background-color: white;
}

input {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-top:10px;
  width:225px;
  padding-left:5px;
  font-size: 13px;
}
.display-jobs {
  margin-bottom: 30px;
}
h4 {
    padding:1px;
    color:white;
    /*background-color:black;*/
    width:100%; 
    text-align: center;
    margin: auto;
}

h5 {
  color: white;
}

.Position-Title {
  color: rgb(255, 255, 0);
}
.Position-Title:focus {
  color: white;
}
.job-listing-output {
  padding-bottom: 60px;
  padding-top: 60px;
  border: white solid;
  background-color: #754d12;
  padding: 2px;
}

.display-current-rate, .results {
  text-align: center;
  color:white;
}
.display-current-rate {
  padding-bottom: 40px;
  font-size: 20px;
}
.results {
  font-size: 24px;
}
.rate-btc {
  color:white;
  font-size: 20px;
  margin-bottom: 200px;
}
.home-screen {
  display: none;
  max-width: 700px;
}
.summary {
  line-height: 33px;
  padding-left: 20px; 
  padding-right: 20px;
  font-size: 19px;
  text-align: left;
}
.start {
  margin-bottom: 20px;
}
.center-float {
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 680px) {
  html, .intro {
    display:flex;
    flex-direction:column;
    width:100%;
    margin:0;
    height:100;
    margin-top:30pt;
  }
  form {
    display:flex;
    flex-direction:column;
    width:100%;
    color:white;
  }
  section {
    margin:auto; 
  }
  main {
    display:flex;
    flex-direction:column;
    width:100%;
  }
  .home-screen {
    display:flex;
    flex-direction:column;
    width:100%;
    display:none;
  }
  .page-body {
    display:flex;
    flex-direction:column;
    width:100;
  }
}
/* tablet screen media query */
@media only screen and (min-width:786px) {

}
